{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}

<figure{attributes->f:format.raw()}>
	<f:if condition="{image}">
		<f:then>
			<f:if condition="{link}">
				<f:then>
					<a href="{link}"><media:image asset="{image}" alt="{alternativeText}" title="{title}" class="{imageClass}" width="{width}" maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping}" allowUpScaling="{allowUpScaling}" /></a>
				</f:then>
				<f:else>
					<media:image asset="{image}" alt="{alternativeText}" title="{title}" class="{imageClass}" width="{width}" maximumWidth="{maximumWidth}" height="{height}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping}" allowUpScaling="{allowUpScaling}" />
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:if condition="{neos:rendering.inEditMode()} || {showDummyImage}">
				<img src="{dummyImageSrc}" title="Dummy image" alt="Dummy image" class="neos-handle img-fluid" />
			</f:if>
		</f:else>
	</f:if>
	<f:if condition="{hasCaption}">
		<figcaption>
			{neos:contentElement.editable(property: 'caption', node: node)}
		</figcaption>
	</f:if>
</figure>